@import url('https://fonts.googleapis.com/css2?family=Inter&family=Rubik+Mono+One&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
    color: white;
}

:root{
    font-size: 16px;
}

.asterisk{
    color: rgb(202, 69, 69);;
}

main{
    display: flex;
    flex-flow: row nowrap;
}

/* Splash */

.yamaha-link{
    height: 100vh;
    width: 40vw;
    background-image: url(./assets/xsr.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.splash{
    color: black;
}

.yamaha-link, .yamaha-link:visited{
    text-decoration: none;
    color: inherit;
}

.logo-container{
    background-color: rgba(255, 255, 255, 0.685);
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    height: fit-content;
    padding: 5vh 0;
    margin-top: max(20vh, 100px);
    color: inherit;
    width: 70%;
    gap: 1vw;
    border-radius: 0 30px 30px 0;
    transition-duration: 500ms;
}

.yamaha-link:hover .logo-container{
    cursor: pointer;
    width: 80%;
    background-color: rgba(255, 255, 255, 0.932);
}

.logo-container .logo-text{
    font-family: 'Rubik Mono One', monospace;
    font-size: 3rem;
    color: inherit;
}

.logo-container img{
    width: 80px;
    transition-duration: 600ms;
}

a:hover img{
    transform: rotate(360deg);
}


/* Content */
.content{
    height: 100vh;
    width: 60vw;
    font-size: 2rem;
    background-color: rgb(22, 22, 22);

    display: flex;
    flex-flow: column;
    gap: 4vh;
}

/* Header */
.content .content__header{
    font-size: 1.5rem;
    font-weight: 700;
    width: max(75%, 120px);
    padding: 10vh 3vw 4vh 3vw;
}

/* Form */
.content .content__form{
    display: flex;
    flex-flow: column;
    gap: 5vh;
    background-color: rgb(31, 30, 30);
    padding: 3vh 3vw;
    /* box-shadow: 0 4px 5px rgba(255, 255, 255, 0.808); */
    box-shadow: 0 4px 10px rgba(255, 255, 255, 0.1); /* Adjust values as needed */

}

.content__form h2{
    font-size: 1.5rem;
    font-weight: 700;
}

.content .form-wrapper{
    display: flex;
    flex-flow: row wrap;
    align-items: flex-start;
    justify-content: flex-start;
    row-gap: 3vh;
    column-gap: 4vw;
    width: 80%;
}

.form-wrapper .input-wrapper{
    display: flex;
    flex-flow: column;
    width: max(40%, 150px);
    gap: 0.6vh;
}

.input-wrapper label{
    font-size: 0.8rem;
    letter-spacing: 2px;
    font-weight: 600;
}

.input-wrapper .error-msg{
    color: rgb(202, 69, 69);
    font-size: 0.8rem;
    margin-left: 0.5vw;
}

input{
    background-color: transparent;
    /* box-shadow: 0 0 1px 1px rgba(255, 255, 255, 0.288); */
    border: 2px solid rgba(41, 41, 41, 0.918);
    height: 4vh;
    border-radius: 5px;
    font-size: 1rem;
    padding: 0 0.5vw;
}

input:focus{
    /* border-color: rgb(137, 190, 240); */
    border-color:rgb(55, 136, 91);
    /* box-shadow: 0 0 3px rgba(255, 255, 255, 0.479); */
    outline: none;
}

.input-wrapper .empty-input{
    border-color:rgb(202, 69, 69);
    outline: none;
}

input:focus:invalid{
    border-color:rgb(202, 69, 69);
    outline: none;
}

/* Footer */
.content .content__footer{
    padding: 0 3vw;
}

.content__footer button{
    width: max(15vw, 120px);
    padding: 1.5vh 1vw;
    font-size: 1.2rem;
    background-color: rgb(55, 136, 91);
    /* color: rgb(78, 78, 78); */
    color: white;
    border: unset;
    border-radius: 5px;
    transition-duration: 100ms;
    text-align: center;
}

.content__footer button:hover{
    cursor: pointer;
    background-color: rgb(51, 148, 95);
}

.content__footer span{
    font-size: 1rem;
    font-weight: 600;
}

.content__footer a, .content__footer a:visited{
    text-decoration: none;
    color: rgb(55, 136, 91);
    transition-duration: 100ms;
    font-weight: inherit;
}

.content__footer a:hover{
    color: rgb(51, 148, 95);
}